.widget-advanced-note {
  display: flex;
  flex-direction: column;

  position: relative;

  .filter-notes {
    display: flex;
    justify-content: flex-start;

    .form-select {
      border: 1px solid #c2cddd;
      border-radius: 3px;
      padding-left: 1.25rem;
      box-shadow: none;

      &::placeholder {
        color: #cacfd5;
      }
    }
  }

  .notes {
    //height: calc(100% - 114px - 56px);
    overflow: hidden;
    overflow-y: scroll;
    flex-grow: 1;

    &::before {
      content: "";
      height: 100px;
      background: transparent linear-gradient(0deg, #ffffff00 0%, #ffffff 100%)
        0 0 no-repeat padding-box;
      display: block;
      position: absolute;
      top: 86px;
      left: 0;
      right: 0;
      width: calc(100% - 10px);
      z-index: 1;
    }
  }

  .edit-note {
    background: #eff2f7 0 0 no-repeat padding-box;
    opacity: 1;
  }
}
