form {
  display: flex;
  flex-direction: column;

  .form-group {
    &.btn-group {
      align-self: flex-end;
      .btn {
        background-color: #d3135a;
        color: white;
      }
    }

    .form-control {
      border: 1px solid #c2cddd;
      border-radius: 3px;
      padding-left: 1.25rem;
      box-shadow: none;

      &::placeholder {
        color: #cacfd5;
      }
    }
  }
}
