.message-container {
  display: inline-block;
  position: relative;
  max-width: 1200px;
  height: auto;
  width: 100%;

  &.right {
    background-color: #c2cddd;

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      right: -7px;
      left: auto;
      top: 0px;
      bottom: auto;
      border-style: solid;
      border-color: #c2cddd transparent transparent transparent;
      border-width: 20px 8px 0px 0px;
    }
  }

  &.left {
    background-color: #eff2f7;

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      left: -7px;
      right: auto;
      top: 0px;
      bottom: auto;
      border-style: solid;
      border-color: #eff2f7 transparent transparent transparent;
      border-width: 20px 0 0 8px;
    }
  }

  .message {
    color: black;
    padding: 25px 30px;
    text-align: left;

    .line-clamp {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .btn {
      font-weight: bold;
      color: #d3135a;
      box-shadow: none;
    }
  }
}
