/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: UniversalRegular;
  src: url("./assets/fonts/Univers-LT-55-Roman.ttf");
}

@font-face {
  font-family: UniversalBold;
  src: url("./assets/fonts/Univers-LT-65-Bold.ttf");
  font-weight: bold;
}

* {
  font-family: UniversalRegular;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0e141a1a;
}

::-webkit-scrollbar-thumb {
  background: #667790;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #667790;
}
